{% extends 'content.html' %}
{% block data %}
    <div class="ui breadcrumb">
        <a href="/" class="section">Home</a>
        <i class="right angle icon divider"></i>
        <a href="/nclab" class="section">NCLab</a>
        <i class="right angle icon divider"></i>
        <div class="active section">{{ name }}</div>
    </div>
    <h1>강의자료</h1>
    {% if documents|length > 0 %}
        <div class="ui middle aligned divided list">
            {% for doc in documents %}
                <div class="item">
                    <i class="file alternate outline icon"></i>
                    <a href="{{ doc['link'] }}" class="content">{{ doc['title'] }}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="file alternate outline icon"></i>
            이 강의는 아직 문서가 작성되지 않았습니다.
        </div>
        </div>
    {% endif %}
{% endblock %}