{% extends 'content.html' %}
{% block data %}
    <style>
        .card {
            margin: 10px;
        }
    </style>
    <h1>갤러리</h1>
    <p>동작구민이 직접 찍은 사진들입니다. 모바일 데이터로 접속하면 데이터가 작살납니다. 이미 들어오셨다면 이미 늦었으니 마음껏 보세요.</p>
    {% if session['admin'] == true %}
        <button class="ui button" onclick="location.href='.photo_book/upload'">사진첩 만들기</button>
    {% endif %}
    <div class="img-container">
        <div class="ui four stackable cards">
            {% for img in imgs %}
                <div class="card">
                    <a class="image" href={{ './' + img.id|string }}>
                        <img class="image" src={{ url_for('static', filename=img.representation) }}>
                    </a>
                    <div class="content">
                        <a class="header">{{ img.title }}</a>
                        <div class="meta">{{ img.content }}</div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
