<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YD World</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="ui top fixed menu" id="nav">
    <a href="/" class="item">Main</a>
    <a href="/introduce" class="item">Introduce</a>
    <a href="/nclab" class="item">NCLab</a>
</div>
    {% block content %}{% endblock %}
</body>
</html>
