{% extends 'content.html' %}
{% block data %}
    <div class="ui breadcrumb">
        <a href="/" class="section">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Information</div>
    </div>
    <h1>사용된 패키지</h1>
    <div class="ui relaxed divided list">
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
                <a href="https://github.com/Semantic-Org/Semantic-UI" class="header">Semantic UI</a>
                <div class="description">이 페이지를 구성하고 있는 디자인입니다.</div>
            </div>
        </div>
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
                <a href="https://github.com/pallets/flask" class="header">Flask</a>
                <div class="description">이 사이트의 백엔드입니다.</div>
            </div>
        </div>
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
                <a href="https://github.com/Dongjakgu-Min/SSU_NCLabParser" class="header">SSU_NCLabParser</a>
                <div class="description">NCLab 관련 정보를 긁어올 때 사용하는 Parser입니다.</div>
            </div>
        </div>
    </div>
{% endblock %}