{% extends 'index.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome to YD World</h1>
            <p>영두세상에 오신 것을 환영합니다.</p>
        </div>
    </div>
    <div id="content">
        <h1>환영합니다.</h1>
        <p>
            YD World에 오신 것을 환영합니다. 여러 가지 기능을 준비하고 있습니다.
        </p>
        <div class="titleList">
            <a class="titleItem" href="/nclab">
                <div class="header" style="margin-bottom: 10px"><h2>NCLab 자료</h2></div>
                <div class="description">강의 자료를 iPad 혹은 iPhone에서 열람할 수 있습니다.</div>
            </a>
            <a class="titleItem" href="/nclab">
                <div class="header" style="margin-bottom: 10px"><h2>NCLab 공지</h2></div>
                <div class="description">교수님이 올리신 수업 관련 공지를 빠르게 추려서 볼 수 있습니다.</div>
            </a>
            <a class="titleItem" href="/nclab">
                <div class="header" style="margin-bottom: 10px"><h2>NCLab 링크 지원</h2></div>
                <div class="description">더 자세한 내용을 보고 싶다면, 직접 그 문서로 들어가 볼 수 있습니다.</div>
            </a>
            <a class="titleItem" href="/nclab">
                <div class="header" style="margin-bottom: 10px"><h2>NCLab 알림 지원</h2></div>
                <div class="description">교수님이 파일을 새로 올리시면, 이메일로 알려드립니다.(수업 진행중인 강의만 가능합니다.)</div>
            </a>
        </div>
    </div>
{% endblock %}