{% extends 'content.html' %}
{% block data %}
    <div class="ui breadcrumb">
        <a href="/" class="section">Home</a>
        <i class="right angle icon divider"></i>
        <div class="active section">NCLab</div>
    </div>
    <h1>최근 작성된 글</h1>
    <table class="ui celled table">
    <thead>
    <tr>
        <th class="center aligned">제목</th>
        <th class="center aligned">강의명</th>
        <th class="center aligned">업로드 날짜</th>
    </tr>
    </thead>
    <tbody>
    {% for doc in recent %}
        <tr>
            <td onClick="location.href='{{ doc['link'] }}'">
                {{ doc['title'] }}
            </td>
            <td>{{ doc['lec_name'] }}</td>
            <td>{{ doc['datetime'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <h1>강의자료</h1>
    <table class="ui celled table">
    <thead>
    <tr>
        <th class="center aligned">강의명</th>
        <th class="center aligned">학기</th>
    </tr>
    </thead>
    <tbody>
    {% for doc in documents %}
        <tr>
            <td onClick="location.href='./nclab/lec/{{ doc['id'] }}'">
                {{ doc['lecture'] }}
            </td>
            <td>{{ doc['semester'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}